<?xml version="1.0" encoding="UTF-8"?>
<launch> 
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file = "$(find urdf_sim)/config/mobile_robot_control.yaml" command = "load"/>
    <!-- load the controllers -->
    <node name = "controller_spawner" pkg = "controller_manager" type ="spawner" respawn = "false"
        output = "screen" ns = "/mobile_urdf" args = "joint_state_controller camera_joint_position_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher"
        respawn = "false" output = "screen" > 
        <remap from = "/joint_state" to= "/mobile_urdf/joint_state"/>
    </node>    

</launch> 